html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    font-family: "Roboto", sans-serif;
}
/*header*/
header {
    position: sticky;
    top: 0px;
    z-index: 100;
}
.container-nav {
    display:flex;
    flex-direction: row;
    width: 100%;
    top:0;
    border-bottom: 1px solid black;
    background-color: #ffc017;
}

.nav-lato, .nav-log {
    width: 10%;
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center, nav {
    width:35%;
}
ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
li {
   list-style: none;
    padding: 5px ;
}

.navbtn {
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    color:white;
    padding: 5px;
}
/*hero*/
.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffc017;
}
.container-title, .container-M {
    width:50%;
}
.container-title {
    display:flex;
    justify-content: center;
    align-items: center;

}
.title {
    padding-left:10%;
}
h1 {
    font-family: "Spectral", serif; 
    font-size: 70px;
}
.herobtn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

/*section*/
.section1 {
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.section-title {
    display:flex;
    flex-direction: row;
    width: 80%;
    padding-bottom: 5px;
}
.p-section {
    font-weight: bold;
}
.ih-y {
    padding-top: 10px;
}
.section-article {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.single-article {
    display:flex;
    flex-direction: row;
    width: 27%;
}
#second {
    padding-top: 10px;
}
.single-article-number {
    font-size: 25px;
    font-weight: bolder;
    color: gray;
    opacity:35%;
    padding-right: 10px;
}
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-content img {
    width: 8%;
    height: 8%;
    border-radius: 10px;
}
.header-content p {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin:0;
    padding-left: 2px;
    line-height: 1.5;
}
.header-img-content img {
    width: 9%;
    border-radius: 5px;
}
.body-content {
    font-weight: bolder;
}
.footer-content {
    display: flex;
    margin-top: 0px;
}
.footer-content p {
    font-size: 14px;
    color: gray;
    opacity:30%;
}
.footer-content svg {
    padding-top: 10px;
}

/*section 2*/
.section2 {
    padding-left: 10%;
    padding-right: 8%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section2-max {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.single-section2-max  {
    margin-top:20px;
}
.single-section2-max:first-child  {
    margin-top:0px;
}
.single-section2-max-contet {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.single-left {
    width:60%;
}
.single-right {
    width: 40%;
    padding-left: 5px;
}
.single-right img {
    width: 100%;
}
.header-content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-content2 img {
    width: 8%;
    height: 8%;
    border-radius: 10px;
}
.header-content2 p {
    font-size: 10px;
    color: #555;
    margin:0;
    padding-left: 3px;
}
.body-content2 p:first-child {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0;
}
.body-content2 p:last-child, .footer-content2 p {
    font-size: 14px;
    color:#666;
    margin:0;
    line-height: 1.5;
}
.footer-content2 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    flex-basis: 20%;
}
.footer-content2 svg {
    flex-grow: 1;
}
.footer-content2 button {
    border: none;
    background-color: gray;
    opacity: 40%;
    border-radius: 20px;
    padding: 5px 15px;
}

.footer-content2 svg.ma {
    width: 25px;
    height: 25px;
}
.section2-min {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.section2-min p {
    font-size:14px;
    font-weight: bold;
}
.single-section2-min,.single-section2-min2  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.single-section2-min button {
    border: 1px solid gray;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    background-color: #fff; 
    color: #555;
    font-size: 14px; 
    padding: 10px 15px;
    margin:5px;
}
.single-section2-min2 a {
    font-size: 14px;
    width:12%;
    color: gray;
    text-decoration: none;
    padding: 6px;
}
.single-section2-min2 {
    border-top: 1px solid gray;
    margin-top: 30px;
    padding-top: 10px;
}


