html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*header*/
header {
    position: sticky;
    top: 0px;
    z-index: 100;
}
.container-nav {
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffc017;
    top:0;
    border-bottom: 1px solid black;
}

.nav-lato, .nav-log {
    width: 10%;
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center, nav {
    width:35%;
}
ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
li {
   list-style: none;
    padding: 5px ;
}

.navbtn {
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    color:white;
    padding: 5px;
}
/*hero*/
.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffc017;
}
.container-title, .container-M {
    width:50%;
}
.container-title {
    display:flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Spectral", serif; 
    font-size: 70px;
}
.herobtn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

/*section*/
.section1 {
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.section-title {
    display:flex;
    flex-direction: row;
    width: 80%;
    padding-bottom: 5px;
}
.p-section {
    font-weight: bold;
}
.section-article {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.single-article {
    display:flex;
    flex-direction: row;
    width: 27%;
}
.single-article-number {
    font-size: 25px;
    font-weight: bolder;
    color: gray;
    opacity:35%;
    padding-right: 10px;
}
.header-img-content img {
    width: 9%;
    border-radius: 5px;
}
.body-content {
    font-weight: bolder;
}
.footer-content p {
    color: gray;
    opacity:30%;
}
/*section 2*/
.section2 {
    border: 1px solid black;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section2-max {
    border: 1px solid yellow;
    width: 65%;
    display: flex;
    flex-direction: column;
}
.single-section2-max {
    border:1px solid black;
}
.section2-min {
    border: 1px solid red ;
    width: 35%;
    display: flex;
    flex-direction: column;
}
.single-section2-min {
    border: 1px solid black;
}




